@page
@model ConditionalDropdownApp.Pages.AboutModel
@{
}

<div class="alert alert-primary" role="alert">
    Codes sample to show an efficient way to set a select selected item. The index page presents a random item selected.
</div>



