USE [master]
GO
/****** Object:  Database [UtlityDatabase]    Script Date: 7/22/2023 4:20:30 PM ******/
CREATE DATABASE [UtlityDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UtlityDatabase', FILENAME = N'C:\Users\paynek\UtlityDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UtlityDatabase_log', FILENAME = N'C:\Users\paynek\UtlityDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UtlityDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UtlityDatabase]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7/22/2023 4:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Iso] [varchar](2) NOT NULL,
	[Name] [varchar](80) NOT NULL,
	[Iso3] [varchar](3) NULL,
	[NumCode] [int] NULL,
	[PhoneCode] [int] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 7/22/2023 4:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateLookup]    Script Date: 7/22/2023 4:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateLookup](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](32) NULL,
	[StateAbbrev] [char](2) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Iso], [Name], [Iso3], [NumCode], [PhoneCode]) VALUES (1, N'AF', N'Afghanistan', N'AFG', 4, 93)
INSERT [dbo].[Countries] ([Id], [Iso], [Name], [Iso3], [NumCode], [PhoneCode]) VALUES (2, N'AL', N'Albania', N'ALB', 8, 355)
INSERT [dbo].[Countries] ([Id], [Iso], [Name], [Iso3], [NumCode], [PhoneCode]) VALUES (3, N'DZ', N'Algeria', N'DZA', 12, 213)
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Type]) VALUES (1, N'Male')
INSERT [dbo].[Gender] ([Id], [Type]) VALUES (2, N'Female')
INSERT [dbo].[Gender] ([Id], [Type]) VALUES (3, N'Other')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[StateLookup] ON 

INSERT [dbo].[StateLookup] ([StateID], [StateName], [StateAbbrev]) VALUES (1, N'Alabama', N'AL')
INSERT [dbo].[StateLookup] ([StateID], [StateName], [StateAbbrev]) VALUES (2, N'Alaska', N'AK')
INSERT [dbo].[StateLookup] ([StateID], [StateName], [StateAbbrev]) VALUES (3, N'Arizona', N'AZ')
SET IDENTITY_INSERT [dbo].[StateLookup] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uc_Countries_Iso]    Script Date: 7/22/2023 4:20:30 PM ******/
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [uc_Countries_Iso] UNIQUE NONCLUSTERED 
(
	[Iso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
